[submodule "dictionaries"]
	path = dictionaries
	url = https://github.com/LibreOffice/dictionaries.git
	branch = .
[submodule "helpcontent2"]
	path = helpcontent2
	url = https://github.com/LibreOffice/helpcontent2.git
	branch = .
[submodule "translations"]
	path = translations
	url = https://github.com/LibreOffice/translations.git
	branch = .
